body {
    background-color: rgb(244, 244, 252);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.calculator {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 600px;
    width: 400px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    transition: all 0.5s ease;
}

.screen {
    height: 60px;
    width: 85%;
    background-color: rgb(29, 159, 202);
    position: absolute;
    margin-top:60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.btnCon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 350px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
}

.btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgb(200, 200, 230);
    font-size: 20px;
    z-index: 6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s ease;
}

.numbers {
    z-index: 5;
    font-size: 30px;
    margin-right: 25px;
    font-family: 'Roboto Mono';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 50px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clear {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 40px;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', bold, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 165, 0);
}

.CCon {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 85%;
    width: 68%;

}

.opCon {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 65px;
    margin-right: 27px;
    height: 100%;
    width: 100%;

}

.operator {
    z-index: 7;
    color: rgb(0, 0, 0);
    font-size: 15px;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.btn:hover {
    background-color: rgb(180, 180, 210);
    cursor: pointer;
}

.clear:hover {
    background-color: rgb(210, 140, 0);
}

.calculator:hover {
    transform: translateY(-6px);
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
}